---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout title="Sandra">
  <main>
    <h1 class="greeting">I'm Sandra.</h1>
    <p class="text-2xl">
      I'm a Developer Experience Engineer based in the United States.
    </p>
  </main>
</SiteLayout>

<style>
  .greeting {
    @apply text-5xl mb-8;
    position: relative;
    /* @apply font-extrabold; */
  }
</style>
