<div class="flex items-center">
  <img class="avatar mr-4" src="sandra.jpeg" />
  <h3><a href="/">Sandra Rodgers</a></h3>
</div>

<style>
  a {
    font-weight: 700;
    @apply text-xl;
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    /* margin: 10px; */
  }
</style>
